<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GMS">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

   <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".GMS_Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".login.activities.CreatedAccountActivity"
            android:exported="false" />
        <activity android:name=".aqel.activities.AqelNotificationsActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ActionDetailsActivity" />
        <activity android:name=".AccountEditActivity" />
        <activity android:name=".QRScannerActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".aqel.activities.AddCitizenActivity" />
        <activity android:name=".aqel.activities.AqelActivity"
            android:exported="true">
        </activity>

        <activity android:name=".representative.activities.AdditionRequestsActivity"
            android:exported="true">

        </activity>
        <activity android:name=".agent.activities.AgentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".agent.activities.CylindersReceiveActivity" />
        <activity
            android:name=".manager.activities.ManagerActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".login.activities.LoginActivity"
            android:exported="true">

        </activity>
        <activity android:name=".representative.activities.RepresentativeActivity"
            android:exported="true">

        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>